<!DOCTYPE html>
<html ng-app="thinkster">

<head>
    <title>thinkster-django-angular-boilerplate</title>

    <base href="/" /> {% include 'stylesheets.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 ng-view"></div>
        </div>

    </div>
    <div id='map'></div>
    {% include 'javascripts.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("script[type*=plain]").each(function () {
                $(this).replaceWith(eval($(this).text()));
            });
        });
    </script>
</body>

</html>